.task-column-heading {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }